[submodule "emacs.d/vendor/maxframe.el"]
	path = emacs.d/vendor/maxframe.el
	url = git://github.com/rmm5t/maxframe.el.git
[submodule "emacs.d/vendor/coffee-mode"]
	path = emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = git://github.com/magit/magit.git
[submodule "emacs.d/vendor/color-theme-arjen"]
	path = emacs.d/vendor/color-theme-arjen
	url = git://github.com/credmp/color-theme-arjen.git
[submodule "emacs.d/vendor/color-theme-ir-black"]
	path = emacs.d/vendor/color-theme-ir-black
	url = git://github.com/rmm5t/color-theme-ir-black.git
[submodule "emacs.d/vendor/markdown-mode"]
	path = emacs.d/vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "emacs.d/vendor/filladapt"]
	path = emacs.d/vendor/filladapt
	url = git://github.com/emacsmirror/filladapt.git
[submodule "emacs.d/vendor/psvn"]
	path = emacs.d/vendor/psvn
	url = git://github.com/emacsmirror/psvn.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/ri-emacs"]
	path = emacs.d/vendor/ri-emacs
	url = git://github.com/pedz/ri-emacs.git
[submodule "emacs.d/vendor/ruby-electric"]
	path = emacs.d/vendor/ruby-electric
	url = git://github.com/qoobaa/ruby-electric.git
[submodule "emacs.d/vendor/inf-ruby"]
	path = emacs.d/vendor/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "emacs.d/vendor/htmlize"]
	path = emacs.d/vendor/htmlize
	url = git://github.com/rmm5t/htmlize.git
[submodule "emacs.d/vendor/jekyll.el"]
	path = emacs.d/vendor/jekyll.el
	url = git://github.com/talison/jekyll.el.git
[submodule "emacs.d/vendor/full-ack"]
	path = emacs.d/vendor/full-ack
	url = git://github.com/nschum/full-ack.git
[submodule "emacs.d/vendor/lua-mode"]
	path = emacs.d/vendor/lua-mode
	url = git://github.com/emacsmirror/lua-mode.git
[submodule "emacs.d/vendor/rinari"]
	path = emacs.d/vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs.d/vendor/feature-mode.el"]
	path = emacs.d/vendor/feature-mode.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/vendor/js2-mode"]
	path = emacs.d/vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/vendor/sass-mode"]
	path = emacs.d/vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "emacs.d/vendor/haml-mode"]
	path = emacs.d/vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "emacs.d/vendor/revbufs"]
	path = emacs.d/vendor/revbufs
	url = https://github.com/emacsmirror/revbufs.git
[submodule "emacs.d/vendor/textmate.el"]
	path = emacs.d/vendor/textmate.el
	url = https://github.com/defunkt/textmate.el.git
[submodule "emacs.d/vendor/sml-mode"]
	path = emacs.d/vendor/sml-mode
	url = https://github.com/emacsmirror/sml-mode.git
[submodule "emacs.d/vendor/color-theme-tomorrow"]
	path = emacs.d/vendor/color-theme-tomorrow
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "emacs.d/vendor/popup"]
	path = emacs.d/vendor/popup
	url = https://github.com/auto-complete/popup-el
[submodule "emacs.d/vendor/auto-complete-clang"]
	path = emacs.d/vendor/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang
[submodule "emacs.d/vendor/dirtree"]
	path = emacs.d/vendor/dirtree
	url = https://github.com/zk/emacs-dirtree
[submodule "emacs.d/vendor/gnuplot"]
	path = emacs.d/vendor/gnuplot
	url = https://github.com/bruceravel/gnuplot-mode.git
[submodule "emacs.d/vendor/scala-mode2"]
	path = emacs.d/vendor/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "emacs.d/vendor/projectile"]
	path = emacs.d/vendor/projectile
	url = https://github.com/bbatsov/projectile
[submodule "emacs.d/vendor/powerline"]
	path = emacs.d/vendor/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "emacs.d/vendor/cl-lib"]
	path = emacs.d/vendor/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "emacs.d/vendor/emacs-for-python"]
	path = emacs.d/vendor/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs.d/vendor/go-mode"]
	path = emacs.d/vendor/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "emacs.d/vendor/auctex"]
	path = emacs.d/vendor/auctex
	url = https://github.com/giordano/auctex.git
